<section class="lista">
<ul>
    <a href="/"> <li><i class="fas fa-igloo"></i> Pdfs</li> </a>
    <a href="/pdf/create"> <li><i class="fas fa-file-upload"></i> Subir Pdf</li> </a>
    <a href="/calendar"><li><i class="far fa-calendar-plus"></i>Calendario</li></a>
</ul>
</section>